# Ignore target directory (common for Maven projects)
target/
# Ignore IntelliJ IDEA project files
.idea/
# Allure
.allure/
target/allure-results/
# Ignore system files
.DS_Store  # macOS
Thumbs.db  # Windows